/*
!.*

# ignore list:
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.bash_history
.eclipse_keyring
.fctsslvpnhistory
.gdb_history
.gitk
.inkscape-etc/
.lesshst
.recently-used.xbel
.sqlite_history
.swo
.swp
.bookmarks
.ganttproject

.viminfo
.vim/bundle
!.vim/bundle/
!.vim/bundle/vundle
