[merge]
	tool = opendiff
[mergetool "mgvim"]
	cmd = /Users/amit/bin/mvim -d -g -f $LOCAL $MERGED $REMOTE
	keepbackup = false
[mergetool "mvim"]
	cmd = /Users/amit/bin/mvim -d -f $LOCAL $MERGED $REMOTE
	keepbackup = false
[mergetool "araxismergetool"]
	cmd = /Users/amit/bin/araxisgitmerge \"$PWD/$REMOTE\" \"$PWD/$BASE\" \"$PWD/$LOCAL\" \"$PWD/$MERGED\"
	trustExitCode = false
[difftool "mgvim"]
	cmd = /Users/amit/bin/mvim -d -g -f $LOCAL $REMOTE
[difftool "mvim"]
	cmd = /Users/amit/bin/mvim -d -f $LOCAL $REMOTE
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	name = Amit Kotlovski
	email = amitbk@gmail.com
